body {
    margin: 0;
    padding-left:17%;
    padding-right:17%;
    padding-top: 2%;
    background-color: #F5FFFF;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: hidden;
}
#birdView {
    width: 100%;
    height: 50%;
}
#container{
    margin-top:10%;
    border-style: solid;
    border-width: 2px;
    border-color: #141A1A;
    height: 100.1%;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 0;
}
#binding{
    margin: 0;
    width: 8%;
    height: 100%;
    -webkit-border-radius: 15px 0px 0px 0px;
    -moz-border-radius: 15px 0px 0px 0px;
    border-radius: 15px 0px 0px 0px;
    background-color: #141A1A;
    float: left;
}
#cover{
    
    margin: 0;
    float: left;
    height: 100%;
    width: 92%;
    -webkit-border-radius: 0px 18px 0px 0px;
    -moz-border-radius: 0px 18px 0px 0px;
    border-radius: 0px 18px 0px 0px;
    background-size: 1px, 1px, auto, auto 20px;
    background: repeating-linear-gradient(-45deg, #224, #224 25px, #88B 25px, #88B 50px);
}
#page{
    margin: 0;
    float: left;
    height: 100%;
    width: 92%;
    background-image:  -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -webkit-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -ms-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -ms-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -o-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -o-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-size: 1px, 1px, auto, auto 20px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;
    -webkit-border-radius: 0px 18px 0px 0px;
    -moz-border-radius: 0px 18px 0px 0px;
    border-radius: 0px 18px 0px 0px;
}
#cover-label{
    background-color: #F5FFFF;
    width: 40%;
    margin: 0 auto;
    margin-top: 20%;
    padding-bottom: 3%;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    border-color: #141A1A;
    border-width: 2px;
    border-style: solid;
}
#cover-title{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 120%;
}
hr {
    width: 90%;
    margin: 0 auto;
    background-color: #141A1A;
    height: 2px;
    border: 0;
}
#birdForm{
    margin-left: 12%;
    margin-top: 6%;
}
#loginForm, #signupForm {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
}
label{
    margin-top: 1em;
}
#links{
    padding-top: 1em;
    width: 90%;
    margin: 0 auto;
}
.formSubmit, #signUp{
    margin-left: 1em;
    padding: .2em .2em .2em .2em;
    text-decoration: none;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    border-color: #141A1A;
    border-width: 1px;
    border-style: solid;
    color: #141A1A;
}
#logOut{
    margin-top: 1%;
    margin-right: 1%;
    padding: .2em .2em .2em .2em;
    text-decoration: none;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-color: #141A1A;
    border-width: 1px;
    border-style: solid;
    color: #141A1A;
    float: right;
}
.makeBirdSubmit{
    margin-top: .5em;
    padding: .2em .2em .2em .2em;
    text-decoration: none;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-color: #141A1A;
    border-width: 1px;
    border-style: solid;
    float: left;
    color: #141A1A;
}
.makeBirdSubmit:hover, .formSubmit:hover, #signUp:hover, #logOut:hover{
    background-color: #141A1A;
    color: #F5FFFF;
}
#birdList{
    width:80%;
    height: 70%;
    margin-top: 9%;
    margin-left: 11%;
    overflow: auto;
}
.birdBox, #newBird{
    width: 20%;
    height: 20%;
    margin-right: 1em;
    margin-top: 1em;
    text-decoration: none;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-color: #141A1A;
    border-width: 2px;
    border-style: solid;
    float:left;
}
.birdBox:hover, #newBird:hover{
    background-color: rgba(91,91,91, .2);
}