extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  section#makebird
    form#birdForm(class="birdForm", name="birdForm", action="/maker", method="POST")
      label(for="name") Name: 
      input#birdName(type="text", name="name", placeholder="bird Name")
      label(for="wing") Wing: 
      select#wing
        option Default
      label(for="beak") Beak: 
      select#beak
        option Default
      label(for="body") body: 
      select#body
        option Default
      a#makeBirdSubmit(class="makebirdSubmit", href="#") Make bird
    canvas#birdView(width='200px', height='200px')
  #birdMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
block scripts
        script(src="/assets/maker.js")