extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  section#birdView
    canvas.birdCanvas(width='200px', height='200px')
  div#container
    div#binding &nbsp;
    div#page &nbsp;
      form#birdForm(class="birdForm", name="birdForm", action="/maker", method="POST")
        label(for="name") Name: 
        input#birdName(type="text", name="name", placeholder="bird Name")
        label(for="wing") Wing: 
        select#wing
          option Default
        label(for="beak") Beak: 
        select#beak
          option Default
        label(for="body") Body: 
        select#body
          option Default
        a#makeBirdSubmit(class="makebirdSubmit", href="#") Make bird
block scripts
        script(src="/assets/maker.js")