extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#birdView &nbsp;
    canvas.birdCanvas(width='200px', height='200px')
  div#container
    div#binding &nbsp;
    div#page &nbsp;
      a#logOut(href="/logout") Log out
      form#birdForm(class="birdForm", name="birdForm", action="/maker", method="POST")
        label(for="name") Name: 
        input#birdName(type="text", name="name", placeholder="bird Name")
        br
        label(for="wing") Wing: 
        select#wing
          option Default
          option Angular
        br
        label(for="beak") Beak: 
        select#beak
          option Default
          option Thin
          option Short
        br
        label(for="body") Tail: 
        select#body
          option Default
        br
        a#makeBirdSubmit(class="makebirdSubmit", href="#") Make bird
block scripts
        script(src="/assets/maker.js")
        script(src="/assets/birdDraw.js")