extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#container
    section#binding &nbsp;
    section#cover &nbsp;
      section#cover-label &nbsp;
        section#cover-title Aviarium 
        hr
        form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
          label(for="username") Name: 
          input#user(type="text", name="username", placeholder="username")
          br
          label(for="pass") Password: 
          input#user(type="password", name="pass", placeholder="password")
          br
          section#links
            a#loginSubmit(class="formSubmit", href="#") Login
            a#signUp(href="/signup") Sign Up
block scripts
    script(src="/assets/client.js")