extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#container
    section#binding &nbsp;
    section#cover &nbsp;
      section#cover-label &nbsp;
        section#cover-title Aviarium 
        hr
        form#signupForm(name="signupForm", action="/signup", method="POST")
          label(for="username") Name: 
          input#user(type="text", name="username", placeholder="username")
          br
          label(for="pass") Password: 
          input#pass(type="password", name="pass", placeholder="password")
          br
          label(for="pass2") Password: 
          input#pass2(type="password", name="pass2", placeholder="retype password")
          br
          section#links
            a#signupSubmit(class="formSubmit", href="#") Sign up
block scripts
        script(src="/assets/client.js")